* {
  font-family: "Poppins";
}

h1,
h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.conatiner {
  max-width: min(700px, 80vw);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
